{% extends "layout.twig" %}

{% block content %}
  <h1>Add Project</h1>
    {% if responseMessage %}
		<div class="alert alert-primary" role="alert">
				{{  responseMessage }}
		</div>
	{% endif %}
    <form action="/app-php/projects/add" method="POST" enctype="multipart/form-data">
        <label for="">Title: </label>
        <input type="text" name="title">
        <br>
        <label for="">Description: </label>
        <input type="file" name="file"><br><br>
        <input type="text" name="description"> <br>
        <button type="submit" name="save">Save</button>
    </form>

{% endblock %}

