{% extends "layout.twig" %}

{% block content %}
	<h1>Dashboard</h1>
	{% if responseMessage %}
		<div class="alert alert-primary" role="alert">
				{{  responseMessage }}
		</div>
	{% endif %}
	<ul>
        <li><a href="users/add">Add user</a></li>
        <li><a href="jobs/add">Add job </a></li>
		<li><a href="projects/add">Add Project </a></li>
    </ul>
<br><br>
<a href="/app-php/logout">Logout</a>
{% endblock %}
